asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
debugpy==1.8.12
Django>=5.1.5
django-workers==0.2.0
idna==3.10
psycopg2>=2.9.10
pushover @ git+https://github.com/Wyattjoh/pushover@5852545c5b9cf2717e1eafc4c8b134a08b0994da
pytz==2025.1
requests>=2.32.3
sqlparse==0.5.3
urllib3==2.3.0
whitenoise==6.8.2
xmltodict==0.14.2